[submodule "mwdb-core"]
	path = mwdb-core
	url = https://github.com/CERT-Polska/mwdb-core.git
[submodule "karton"]
	path = karton
	url = https://github.com/CERT-Polska/karton.git
[submodule "karton-classifier"]
	path = karton-classifier
	url = https://github.com/CERT-Polska/karton-classifier.git
[submodule "karton-dashboard"]
	path = karton-dashboard
	url = https://github.com/CERT-Polska/karton-dashboard.git
[submodule "karton-mwdb-reporter"]
	path = karton-mwdb-reporter
	url = https://github.com/CERT-Polska/karton-mwdb-reporter.git
